/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    color: #d02929; 
}

h4 {
    color: #555;
}

/* Top Container Styles */
.top-container {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}

button {
    padding: 10px 15px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

/* Bottom Container Styles */
.bottom-container {
    margin-top: 20px;
    text-align: center;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

.errors {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

/* Additional Text Styles */
p {
    font-size: 0.9em;
    margin: 15px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}
